<ion-content [fullscreen]="true">

  <div class="pageWrapper ion-padding">
    <div class="pageRow ion-margin-vertical">
      <p>We have sent a verification code to<br><b>+91 9816810805</b></p>
      <div class="otpWrapper ion-margin-bottom ion-padding-bottom">
        <div>
          <ion-input type="number" class="loginInput"></ion-input>
        </div>
        <div>
          <ion-input type="number" class="loginInput"></ion-input>
        </div>
        <div>
          <ion-input type="number" class="loginInput"></ion-input>
        </div>
        <div>
          <ion-input type="number" class="loginInput"></ion-input>
        </div>
      </div>
      <ion-button expand="block">Continue</ion-button>
    </div>
  </div>
</ion-content>