<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Category</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" defaultHref="tabs/home">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment (ionChange)="segmentChanged($event)" value="vegetables">
    <ion-segment-button value="vegetables">
      <ion-label>
        Vegetables
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="fruits">
      <ion-label>
        Fruits
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="dairy">
      <ion-label>
        Dairy
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="bakery">
      <ion-label>
        Bakery
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="animate__animated animate__slideInUp animate__fast"  *ngIf="segment === 'vegetables'">
   <h3>Vegetables Section</h3>
</div>
  <div class="animate__animated animate__slideInUp animate__fast" *ngIf="segment === 'fruits'">
  <h3>Fruits Section</h3>
  </div>
  <div class="animate__animated animate__slideInUp animate__fast"  *ngIf="segment === 'dairy'">
    <h3>Dairy Section</h3>
 </div> 
   <div class="animate__animated animate__slideInUp animate__fast" *ngIf="segment === 'bakery'">
   <h3>Bakery Section</h3>
   </div>
</ion-content>
