<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding-horizontal">
    <div class="orderList">
      <div class="orderWrapper">
        <div>
          <img src="../../assets/img/image-1.png" alt="image"/>
        </div>
        <div>
          <div class="orderNumber">Order Number: 2048</div>
          <div class="orderDetails">
            <div>30 Nov, 2022</div>
            <div>Total Amount: $583.00</div>
          </div>
          <div class="inprogressStatus">In Progress</div>
        </div>
      </div>
    </div>
    <div class="orderList">
      <div class="orderWrapper">
        <div>
          <img src="../../assets/img/image-1.png" alt="image"/>
        </div>
        <div>
          <div class="orderNumber">Order Number: 2048</div>
          <div class="orderDetails">
            <div>30 Nov, 2022</div>
            <div>Total Amount: $583.00</div>
          </div>
          <div class="deliveredStatus">Delivered</div>
        </div>
      </div>
    </div>
    <div class="orderList">
      <div class="orderWrapper">
        <div>
          <img src="../../assets/img/image-1.png" alt="image"/>
        </div>
        <div>
          <div class="orderNumber">Order Number: 2048</div>
          <div class="orderDetails">
            <div>30 Nov, 2022</div>
            <div>Total Amount: $583.00</div>
          </div>
          <div class="cancelledStatus">Cancelled</div>
        </div>
      </div>
    </div>
    <div class="orderList">
      <div class="orderWrapper">
        <div>
          <img src="../../assets/img/image-1.png" alt="image"/>
        </div>
        <div>
          <div class="orderNumber">Order Number: 2048</div>
          <div class="orderDetails">
            <div>30 Nov, 2022</div>
            <div>Total Amount: $583.00</div>
          </div>
          <div class="inprogressStatus">In Progress</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
