<ion-content [fullscreen]="true">
  <div class="order-sucess-top">
    <ion-icon name="checkmark-circle"></ion-icon>
    <h2>Order Placed!</h2>
    <p>Your order was placed successfully. <br>For more details check Delivery Status <br>under order tab</p>
    <ion-button expand="block">View Order Details</ion-button>
  </div>

  <div class="order-sucess-bottom ion-padding ion-margin-bottom">
    <div class="dailyDeals">
      <h1>Item List</h1>
      <span>View All</span>
    </div>
  
    <div class="dailyDealList">
      <div class="productWrapper">
        <div class="ion-text-center">
          <img src="../../assets/img/image-1.png" alt="image"/>
          <span>10% Off</span>
        </div>
        <div>
          <div class="productName">Lettuce</div>
          <div class="productVariant">1kg</div>  
        </div>
        <div>
          <div class="productActionRow">
            <div class="productPrice">$36.00</div>
            <ion-button>Add <i class=""></i></ion-button>
          </div>
        </div>
      </div>
      
      <div class="productWrapper">
        <div class="ion-text-center">
          <img src="../../assets/img/image-2.png" alt="image"/>
          <span>10% Off</span>
        </div>
        <div>
          <div class="productName">Lettuce</div>
          <div class="productVariant">1kg</div>  
        </div>
        <div>
          <div class="productActionRow">
            <div class="productPrice">$36.00</div>
            <ion-button>Add <i class=""></i></ion-button>
          </div>
        </div>
      </div>

      <div class="productWrapper">
        <div class="ion-text-center">
          <img src="../../assets/img/image-3.png" alt="image"/>
          <span>10% Off</span>
        </div>
        <div>
          <div class="productName">Lettuce</div>
          <div class="productVariant">1kg</div>  
        </div>
        <div>
          <div class="productActionRow">
            <div class="productPrice">$36.00 <div class="oldPrice">$25.00</div></div>
            <ion-button>Add <i class=""></i></ion-button>
          </div>
        </div>
      </div>

      <div class="productWrapper">
        <div class="ion-text-center">
          <img src="../../assets/img/image-4.png" alt="image"/>
        </div>
        <div>
          <div class="productName">Lettuce</div>
          <div class="productVariant">1kg</div>  
        </div>
        <div>
          <div class="productActionRow">
            <div class="productPrice">$36.00</div>
            <ion-button>Add <i class=""></i></ion-button>
          </div>
        </div>
      </div>

    </div>

  </div>

</ion-content>