<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cart</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" defaultHref="tabs/home">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <div class="cartHeading">
      <h1>Item List</h1>
      <span>5 Item</span>
    </div>
    
    <div class="cartProductList">
      <div class="cartProductWrapper">
        <div>
          <img src="../../assets/img/image-1.png" alt="image"/>
        </div>
        <div>
          <div class="productPrice">$36.00</div>
          <div class="productName">Lettuce</div>
          <div class="productVariant">1kg</div> 
          <div class="cartQtyAmount">
            <ion-select>
              <ion-select-option value="apples">1</ion-select-option>
              <ion-select-option value="oranges">2</ion-select-option>
              <ion-select-option value="bananas">3</ion-select-option>
            </ion-select>
            <div class="totalAmount">
              $55.00
            </div>
          </div>
        </div>
      </div>
      <div class="cartProductWrapper">
        <div>
          <img src="../../assets/img/image-1.png" alt="image"/>
        </div>
        <div>
          <div class="productPrice">$36.00</div>
          <div class="productName">Lettuce</div>
          <div class="productVariant">1kg</div> 
          <div class="cartQtyAmount">
            <ion-select>
              <ion-select-option value="apples">1</ion-select-option>
              <ion-select-option value="oranges">2</ion-select-option>
              <ion-select-option value="bananas">3</ion-select-option>
            </ion-select>
            <div class="totalAmount">
              $55.00
            </div>
          </div>
        </div>
      </div>
      <div class="cartProductWrapper">
        <div>
          <img src="../../assets/img/image-1.png" alt="image"/>
        </div>
        <div>
          <div class="productPrice">$36.00</div>
          <div class="productName">Lettuce</div>
          <div class="productVariant">1kg</div> 
          <div class="cartQtyAmount">
            <ion-select>
              <ion-select-option value="apples">1</ion-select-option>
              <ion-select-option value="oranges">2</ion-select-option>
              <ion-select-option value="bananas">3</ion-select-option>
            </ion-select>
            <div class="totalAmount">
              $55.00
            </div>
          </div>
        </div>
      </div>
      <div class="cartProductWrapper">
        <div>
          <img src="../../assets/img/image-1.png" alt="image"/>
        </div>
        <div>
          <div class="productPrice">$36.00</div>
          <div class="productName">Lettuce</div>
          <div class="productVariant">1kg</div> 
          <div class="cartQtyAmount">
            <ion-select>
              <ion-select-option value="apples">1</ion-select-option>
              <ion-select-option value="oranges">2</ion-select-option>
              <ion-select-option value="bananas">3</ion-select-option>
            </ion-select>
            <div class="totalAmount">
              $55.00
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button expand="block">Proceed to checkout ($155.00)</ion-button>
</ion-footer>