// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-font-family: "Sofia Pro";

  --border-color: #DCDCDC;
  --product-variant-color: #6A6A6A;
  --default-primary-button: #F5F8F7;
  --inprogress-status: #22AFCE;

  --ion-color-primary: #307A59;
	--ion-color-primary-rgb: 48,122,89;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #2a6b4e;
	--ion-color-primary-tint: #45876a;

	--ion-color-secondary: #F37908;
	--ion-color-secondary-rgb: 243,121,8;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #d66a07;
	--ion-color-secondary-tint: #f48621;

	--ion-color-tertiary: #409D74;
	--ion-color-tertiary-rgb: 64,157,116;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #388a66;
	--ion-color-tertiary-tint: #53a782;

	--ion-color-success: #307A59;
	--ion-color-success-rgb: 48,122,89;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #2a6b4e;
	--ion-color-success-tint: #45876a;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-dark: #222428;
	--ion-color-dark-rgb: 34,36,40;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #1e2023;
	--ion-color-dark-tint: #383a3e;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #307A59;
    --ion-color-primary-rgb: 48,122,89;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #2a6b4e;
    --ion-color-primary-tint: #45876a;

    --ion-color-secondary: #F37908;
    --ion-color-secondary-rgb: 243,121,8;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #d66a07;
    --ion-color-secondary-tint: #f48621;

    --ion-color-tertiary: #409D74;
    --ion-color-tertiary-rgb: 64,157,116;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #388a66;
    --ion-color-tertiary-tint: #53a782;

    --ion-color-success: #307A59;
    --ion-color-success-rgb: 48,122,89;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #2a6b4e;
    --ion-color-success-tint: #45876a;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255,196,9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235,68,90;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0,0,0;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,245,248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146,148,156;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;

    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34,36,40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}

html {
  /* 
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}

/*..custom fonts..*/
@font-face {
    font-family: 'Sofia Pro';
    src: url('../assets/fonts/SofiaPro-Bold.eot');
    src: url('../assets/fonts/SofiaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SofiaPro-Bold.woff2') format('woff2'),
        url('../assets/fonts/SofiaPro-Bold.woff') format('woff'),
        url('../assets/fonts/SofiaPro-Bold.ttf') format('truetype'),
        url('../assets/fonts/SofiaPro-Bold.svg#SofiaPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../assets/fonts/SofiaPro-SemiBold.eot');
    src: url('../assets/fonts/SofiaPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SofiaPro-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/SofiaPro-SemiBold.woff') format('woff'),
        url('../assets/fonts/SofiaPro-SemiBold.ttf') format('truetype'),
        url('../assets/fonts/SofiaPro-SemiBold.svg#SofiaPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../assets/fonts/SofiaPro.eot');
    src: url('../assets/fonts/SofiaPro.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SofiaPro.woff2') format('woff2'),
        url('../assets/fonts/SofiaPro.woff') format('woff'),
        url('../assets/fonts/SofiaPro.ttf') format('truetype'),
        url('../assets/fonts/SofiaPro.svg#SofiaPro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../assets/fonts/SofiaPro-Medium.eot');
    src: url('../assets/fonts/SofiaPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SofiaPro-Medium.woff2') format('woff2'),
        url('../assets/fonts/SofiaPro-Medium.woff') format('woff'),
        url('../assets/fonts/SofiaPro-Medium.ttf') format('truetype'),
        url('../assets/fonts/SofiaPro-Medium.svg#SofiaPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../assets/fonts/SofiaPro-Light.eot');
    src: url('../assets/fonts/SofiaPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SofiaPro-Light.woff2') format('woff2'),
        url('../assets/fonts/SofiaPro-Light.woff') format('woff'),
        url('../assets/fonts/SofiaPro-Light.ttf') format('truetype'),
        url('../assets/fonts/SofiaPro-Light.svg#SofiaPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}